body {
  background-color: #f5f5f5;
  font-family: "IBM Plex Mono", serif;
  padding-left: 35px;
  padding-right: 35px;
  /* height: 100%;
  width: 100%; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.entirepage {
  display: table-cell;
  width: 500px;
  height: 500px;
  vertical-align: middle;
}

/* colorful letters for MADISON */
.playful span {
  position: relative;
  color: #70db70;
  animation: scatter 1.2s infinite;
}

.playful span:nth-child(2n) {
  color: #ffb3ff;
  animation-delay: 0.3s;
}

.playful span:nth-child(3n) {
  color: #4da6ff;
  animation-delay: 0.15s;
}

.playful span:nth-child(4n),
.playful span:nth-child(7n) {
  color: #994d00;
  animation-delay: 0.25s;
}

.playful {
  position: fixed;
  font-size: 75px;
  font-family: "Archivo", sans-serif;
  height: 100%;
  top: 33%;

  display: inline-block;
}

@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -8px;
  }
  100% {
    top: 0;
  }
}

.hometext {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

/*fade-in animation*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* for top text */
.toptext {
  position: fixed;
  top: 29%;
  font-size: 40px;
  height: 100%;
}

/* for bottom text */
.bottomtext {
  position: fixed;
  top: 53%;
  font-size: 20px;
  max-height: 100%;
  display: inline-block;
}

/* Responsive design for smaller screens */ 
@media (max-width: 768px) {
  body {
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .toptext {
    font-size: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    top: 29%;
  }
  
  .playful {
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    top: 34%;
  }
  
  .bottomtext {
    font-size: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    top: 48%;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .bottomtext b:nth-of-type(2)::before {
    content: "";
    display: block;
  }
}
