body {
  background-color: #F5F5F5;
  font-family: "Georgia";
  padding-left: 35px;
  padding-right: 35px;
  height: 100%;
  width: 100%;
}

/* html {
  height:100%;
} */

.entirepage {
  display: table-cell;
  width: 500px;
  height: 500px;
  vertical-align: middle;
}

/* colorful letters for MADISON */
.playful span {
  position: relative;
  color: #70db70;
  animation: scatter 1.2s infinite;
}

.playful span:nth-child(2n) {
  color: #ffb3ff;
  animation-delay: 0.3s;
}

.playful span:nth-child(3n) {
  color: #4da6ff;
  animation-delay: 0.15s;
}

.playful span:nth-child(4n), .playful span:nth-child(7n) {
  color: #994d00;
  animation-delay: 0.25s;
}

.playful {
  position: fixed;
  font-size: 75px;
  font-family: "Archivo", sans-serif;
  height: 100%;
  top: 33%;
  
  display: inline-block;
}

@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -8px;
  }
  100% {
    top: 0;
  }
}

/* for "hi there, i'm" */
.toptext {
  position: fixed;
  top: 29%;
  font-size: 40px;
  height: 100%;
}

/* for bottom text */
.bottomtext {
  position: fixed;
  top: 53%;
  font-size: 25px;
  max-height: 100%;
  display: inline-block;
}

