body {
  background-color: #F5F5F5;
  font-family: 'Arial';
  letter-spacing: 0.8;
  /* padding: 30px 35px 30px 35px; */
  height: 100%;
  width: 100%;
}

/*resume header and download link*/
a {
  color: black;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.resume {
  padding-right: 35px; padding-left: 35px;  padding-top: 50px;
  
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

/*resume overall fade-in animation*/
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.resume_title {
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 2px;
}
.resume_head {
  /* text-transform: uppercase; */
  font-size: 50px;
  letter-spacing: 2px;
}
* {
  box-sizing: border-box;
}
/* two equal columns that float next to each other */
.column {
  flex: 50%;
  font-size: 16px;
  /* margin-bottom: 1em; */
  color: gray;
}
div.column:nth-of-type(1) {
  flex: 0.5;
}
div.column:nth-of-type(2) {
  flex: 2;
}

/* row floats after the columns */
.row {
  display: flex;
}

