<div class="footer">
	<div class="alignleft">
		<span class="grow">
		<p><a href="/index.html" style="color: inherit; text-decoration: none;">Madison Kristen Lee</a></p>
		</span>
	</div>
	<ul class="socials">
		<span class="grow">
		<li><a href="mailto: madisonklee131@gmail.com"><img src="/images/mail.png" width="20" height="20"></img></a></li>
		</span>

		<span class="grow">
		<li><a href="https://github.com/madisonklee"><img src="/images/github.png" width="20" height="20"></img></a></li>
		</span>

		<span class="grow">
		<li><a href="https://www.linkedin.com/in/madisonklee"><img src="/images/linkedin.png" width="20" height="20"></img></a></li>
		</span>
	</ul>
</div>
